<html>
 
<head>
    <title>Handling of http get and post request</title>
    <style>
        div {
            width: 400px;
            border: 1px solid green;
            padding: 10px;
            margin-bottom: 5px;
        }
    </style>
</head>
 
<body>
 
 
    <div>
        <h1>Handle POST Request</h1>
        <form method="POST"
              action="{{ url_for('handle_post') }}">
            <input type="html"
                   name="html"
                   placeholder="html">
            <input type="query"
                   name="query"
                   placeholder="query">
            <input type="metadata"
                   name="metadata"
                   placeholder="metadata">
            <button type="submit">submit</button>
        </form>
    </div>
</body>
 
</html>